#code {
    font-weight: bold;
    display: inline;
    font-family: monospace;
    white-space: pre;
}
#gravatar,.right{float:right}
#profile-pic{float:left;padding-right: 5px}
.caption{
    font-size: 70%;
}
.post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

