pre,#code {
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
}
#gravatar,.right{float:right}
#profile-pic{float:left;padding-right: 5px}
.post-image{
    font-size: 70%;
    margin-bottom: 1em;
    margin-top: 1em;
}
img, embed, object, video {
  max-width: 100%;
}
