<!-- start bot.txt -->
        <hr/>
        <p class="right">
        <a href="https://plus.google.com/115504899535754972818/posts">Google+</a>
        <a href="https://github.com/mikeputnam/">Github</a>
        <a href="http://twitter.com/mikeputnam/">Twitter</a>
        <a href="sitemap.htm">Site Map</a>
        </p>
		</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
